.Player{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.time-control{
    display: flex;
    width: 40%;
    input{
        width: 90%;
        padding: 1rem 0rem;
    }
    p{
        padding: 1rem;
    }
    
}

.play-control{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    svg{
        cursor: pointer;
    }
}

*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.5) transparent;
}
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-thumb{
    background: transparent;
}
*::-webkit-scrollbar-track{
    background-color:  rgba(155,155,155,0.5) ;
    border-radius: 20px;
    border: transparent;
}